<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlite:C:/Users/Anton/IdeaProjects/desctopApp/src/main/resources/db1.s3db</property>

        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.dialect">util.SQLiteDialect</property>

        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <mapping class="model.EFSItem"></mapping>

    </session-factory>
</hibernate-configuration>